<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key="errorPath" value="C:\Error\StoreKeeperError" />
    <add key="username" value="uthman4u2nv@gmail.com" />
    <add key="password" value="@ajagbe@" />
    <add key="constring" value="Server=localhost; Database=abihealthcare; Uid=root; Pwd=@ajagbe@; port=3306;" />


  </appSettings>
</configuration>